body {
    font-family: 'Century Gothic';
    background-color: #E0F3FF;
}

a{
    text-decoration: none;
    transition: all .5s ease ;
    color: #222;
}

a:hover, a:active{
    text-decoration: none;
}

footer {
    width: 11em;
    margin: 2em auto 2em auto; 
    clear:both;
}

label {
    color: #fff;
    padding: .1em .6em .1em .6em;
    background-color: #09f;
    border-bottom-right-radius: 1em;
    border-top-right-radius: .2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: .2em;
    text-shadow: 1px 1px 1px #000;
}

li {
    list-style-type: none;
}


input[type="button"]{
    color: #fff;
    background-image: linear-gradient( #09f, #05a,#05a, #09f);
    border: none;
    border-radius: .1em;
    padding: .3em .7em .3em .7em;
    transition: all .5s ease;
    font-size: 1.1em;
}

input[type="button"]:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient( #000, #05a, #05a, #000 );
    border-radius: 1em;
}

input[type="text"], select {
    margin-right: 1em;
}

header {
    padding: 1em;
    background-image: linear-gradient( #fff,    #09f, #fff, 
                                       #09f, #09f,  
                                       #09f, #09f, 
                                       #fff,    #09f, #fff);
}

header a {
    color: #fff;
    font-size: 2.4em;
    text-shadow: 1px 1px 1px #000;
}

header .title:hover {
    color: #444;
    border: none;
}

nav {
    margin: 1em auto 1em auto; 
}

nav a {
    color: #E0F3FF;
    padding: .3em .5em .3em .5em;
    background-color: #444;
    border-radius: .3em;
    transition: all .5s ease;
}

nav a:hover, .active {
    color: #fff !important;
    background-color: #09f !important;
    border-radius: .7em !important;
    padding: .5em .7em .5em .7em !important;
}

section:not(#CarRegistrySection){
    padding: .5em;
    border-radius: .7em;
    overflow: hidden;
    background-color: #fff;
}


/* ID */
#Container {
    width: 75%;
    margin: auto;
}

#ResultSection, #AddCarSection, #SaveCarSection{
    background-color: #F2F2FF;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: .5em;
}

