body {
    font-family: 'Century Gothic';
}

a{
    text-decoration: none;
    transition: all .3s ease ;
    color: #222;
}

label {
    color: #fff;
    padding: .1em .6em .1em .6em;
    background-color: #09f;
    border-bottom-right-radius: 1em;
    border-top-right-radius: .2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: .2em;
    text-shadow: 1px 1px 1px #000;
}

a:hover, a:active{
    text-decoration: none;
}

li {
    list-style-type: none;
}


input[type="button"]{
    color: #fff;
    background-image: linear-gradient( #09f, #05a,#05a, #09f);
    border: none;
    border-radius: .1em;
    padding: .3em .7em .3em .7em;
    transition: all .5s ease;
    font-size: 1.1em;
}

input[type="button"]:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient( #000, #05a, #05a, #000 );
    border-radius: 1em;
}

input[type="text"], select {
    margin-right: 1em;
}

#LayoutContainer {
    width: 70%;
    margin: auto;
}

#Header {
    padding: 1em;
    background-image: linear-gradient( #fff, #E0F3FF, #eee, 
                                       #eee, #eee,  
                                       #eee, #eee, #eee, #E0F3FF, #fff);
}

#Header .title a {
    color: #000;
    font-size: 2.4em;
    text-shadow: 1px 1px 1px #000;
}

#Header .title a:hover {
    color: #fff;
    border: none;
}

.title {    
    width: 70%;
    margin: auto;
}

#NavBarList li {
    display: inline;
}

    #NavBarList li a {
        color: #E0F3FF;
        padding: .3em .5em .3em .5em;
        background-color: #444;
        border-radius: .3em;
        transition: all .5s ease;
    }

#NavBarList li a:hover, .active {
    color: #fff !important;
    background-color: #09f !important;
    border-radius: .7em !important;
    padding: .5em .7em .5em .7em !important;
}


#NavBarList {
    padding: .8em;
    background-color: #fff;
}


#ResultSection, #AddCarSection, #SaveCarSection{
    background-color: #E0F3FF;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: .5em;
}

#BodyContainer
{
    background-color: #f5f5f5;
    padding: .7em;
    border-radius: .7em;
    overflow: hidden;
}

video{
    width: 320px;
    height: 280px;
}
