@{
    ViewBag.Title = "Home Page";
}


<section id="CarRegistrySection" ng-app>
    <h2>Add Cars</h2>
    <div id="AddCarSection">
        <label for="make">Make</label>
        <input type="text" name="make" value=" " />

        <label for="model">Model</label>
        <input type="text" name="model" value=" " />

        <label for="year">Year</label>
        <select id="YearDropdown">
            <option value="-1">Select Year</option>
        </select>

        <label for="color">Color</label>
        <select id="ColorDropdown">
            <option value="-1">Select Color</option>
        </select>

        <input type="button" name="addCar" value="+" />
    </div>

    <hr />

    <div id="SaveCarSection">
        <form id="addCarForm">
            <div>List of cars will be here. </div>
        </form>
        <input type="button" name="addCar" value="Save Cars" />
    </div>

    <hr />

    <h2>Search</h2>
    <div id="ResultSection">
        <input type="search" name="searchBox" placeholder="Search saved cars" />
        <div>No results</div>
    </div>

</section>


@section scripts
    {
    <script>
        $('#Game').removeClass('active');
        $('#CarRegistry').addClass('active');
    </script>
}

@Scripts.Render( "~/carRegistry/js" )
