@{
    ViewBag.Title = "Home Page";
}


<section id="CarRegistrySection" ng-app>
    <fieldset id="AddCarSection">
        <legend>Add Cars</legend>
        <div>
            <label for="make">Make</label>
            <input type="text" name="make" id="CarMake" value=" " />
        </div>
        <div>
            <label for="model">Model</label>
            <input type="text" name="model" id="CarModel" value=" " />
        </div>
        <div>
            <label for="year">Year</label>
            <select id="CarYear">
                <option value="-1">Select Year</option>
            </select>
        </div>
        <div>
            <label for="color">Color</label>
            <select id="CarColor">
                <option value="-1">Select Color</option>
            </select>
        </div>
        <input type="button" name="addCar" id="AddCar" value="+" />
    </fieldset>

    <fieldset id="SaveCarSection">
        <legend>Car List</legend>
        <table id="AddCarTable">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <input type="button" name="saveCarList" id="SaveCarList" value="Save List" />
    </fieldset>
    <hr />

    <h3>Search</h3>
    <div id="ResultSection">
        <input type="search" name="searchBox" placeholder="Search saved cars" />
        <div>No results</div>
    </div>

</section>


@section scripts
    {
    <script>
        $('#Game').removeClass('active');
        $('#CarRegistry').addClass('active');
    </script>
}

@Scripts.Render( "~/carRegistry/js" )
