
@{
    ViewBag.Title = "Spinnin' Boxes";
}

<div>Objective: Try to change all worried boxes into smileys. Without a mistake!</div>

<div id="allDivs">
    @for (int i = 0; i < 60; i++)
    {
        <div class="home">
            <div class="happy"> </div>
        </div>
    }
</div>

@section scripts
    {
    <script>
        $('#CarRegistry').removeClass('active');
        $('#Game').addClass('active');
    </script>
}
